{% extends "base.html" %}
{% from "macros.html" import pager %}
{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}">
  {% endfor %}
  {% for description in article.description %}
    <meta name="description" contents="{{description}}">
  {% endfor %}
  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}">
  {% endfor %}
{% endblock %}

{% block content %}
<article id="content" class="body">
  {{ article_header_full(article) }}
  <div class="entry-content">
    {{ article.content }}
  </div>
  {% if article.next_article is defined %}
  {{ pager(article.next_article, article.next_article.title,
           article.prev_article, article.prev_article.title) }}
  {% endif %}
</article>
{% endblock %}
