{% from "macros.html" import author_list, category_list, tag_list, outbound_links, topbar %}
<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if lt IE 9]><script src="/{{ THEME_STATIC_DIR }}/html5shiv.js"></script><![endif]-->
    {% assets filters="cssmin", output="style.min.css",
              "f/MostraNuova-Regular.css", "normalize.css", "main.css",
              "highlighting.css" %}
    <link rel="stylesheet" href="/{{ ASSET_URL }}">
    {% endassets %}
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed">
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed">
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed">
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed">
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed">
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed">
    {% endif %}
    {% endblock head %}
  </head>
  <body>
    <header id="banner" role="banner">
      <h1 id="brand"><a href="/">{{ SITENAME }}</a></h1>
      {{ topbar(PAGES, MENUITEMS) }}
    </header>

    <div id="main" role="main">
      {% block content %}
      {% endblock %}
    </div><!-- #main -->

    <div id="sidebars">
      <nav class="widget">
      <h3><a href="//www.owlfolio.org/">« Owl’s Portfolio</a></h3>
      {% if output_file != "index.html" %}
      <h3><a href="/">&thinsp;‹ Readings </a></h3>
      {% endif %}
      </nav>
      {% block siteindex %}
      {{ category_list(categories) }}
      {{ tag_list(tags) }}
      {{ author_list(authors) }}
      {% endblock %}
    </div><!-- #sidebars -->

    <footer id="content-info" class="copy" role="contentinfo">
      <a href="http://creativecommons.org/licenses/by-nc/4.0/"
         ><img width="80" height="15" src="/s/cc-by-nc-4-80x15.png"
               alt="[(cc) BY-NC]"></a>
      Posts © <address class="vcard"><a href="//www.owlfolio.org/about/" class="url fn">Zack Weinberg</a></address>,
      reusable according to the terms of the
      <a href="http://creativecommons.org/licenses/by-nc/4.0/"
         rel="license">Creative Commons Attribution-Noncommercial 4.0 license</a>.
      Comments © their authors.
    </footer>
    {% assets filters="rjsmin", output="script.min.js",
              "maybe-load-mathjax.js" %}
    <script src="/{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block maybe_hypothesize %}
    {% endblock %}
  </body>
</html>
