{% macro topbar(pages, menuitems) %}
<nav class="topbar">
{# Currently pages can only go on the left. #}
  <ul class="topbar-left">{%
  for p in pages if not p.no_menu
  %}<li class="menu{% if p == page %} active{% endif %}"><a href="/{{ p.url }}">{{
        p.title.split()[0] }}</a></li>{%
  endfor %}{%
  for title, link, position in menuitems if position == 'left'
  %}<li class="menu"><a href="{{ link }}">{{ title }}</a></li>{% endfor
  %}</ul>
  <ul class="topbar-right">{%
  for title, link, position in menuitems if position == 'right'
  %}<li class="menu"><a href="{{ link }}">{{ title }}</a></li>{% endfor
  %}</ul>
</nav><!-- #topbar -->
{% endmacro %}

{% macro pager(older_page, older_label, newer_page, newer_label) %}
<nav id="post-nav" class="pager">
{% if older_page %}
  <a rel="prev" href="/{{ older_page.url }}">← {{ older_label }}</a>
{% endif %}
{% if newer_page %}
  <a rel="next" href="/{{ newer_page.url }}">{{ newer_label }} →</a>
{% endif %}
</nav>
{% endmacro %}

{% macro author_list(authors) %}
<nav class="index widget">
  <h3>Paper authors</h3>
  <ul>
    {% for author, articles in authors|sort_by_article_count %}
    {% if loop.index > 10 %}{% break %}{% endif %}
    <li><a href="/{{ author.url }}">{{ author }}</a></li>
    {% endfor %}
    <li class="more-items-link"><a href="/a/">All authors…</a></li>
  </ul>
</nav>
{% endmacro %}

{% macro category_list(categories) %}
<nav class="index widget">
  <h3>Publication years</h3>
  <ul>
    {% for category, articles in categories|sort %}
    <li><a href="/{{ category.url }}">{{ category }}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endmacro %}

{% macro tag_list(tags) %}
<nav class="index widget">
  <h3>Paper topics</h3>
  <ul>
    {% for tag, articles in tags|sort_by_article_count %}
    {% if loop.index > 10 %}{% break %}{% endif %}
    <li><a href="/{{ tag.url }}"
     >{{ tag }}</a></li>
    {% endfor %}
    <li class="more-items-link"><a href="/t/">All topics…</a></li>
  </ul>
</nav>
{% endmacro %}

{% macro outbound_links(section_title, links, attrs='') %}
<nav class="blogroll widget">
  <h3>{{ section_title }}</h3>
  <ul>
    {% for link, title, url in links %}
    {% if url %}
    <li><a href="{{ url|e }}" {{ attrs }}
           {% if title -%}
           title="{{ title|e }}"
           {%- endif -%}
           >{{ link }}</a></li>
    {% else %}
    <li><abbr
           {% if title -%}
           title="{{ title|e }} (no website)"
           {%- else -%}
           title="(no website)"
           {%- endif -%}
           >{{ link
        }}</abbr></li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endmacro %}
